.clients {
  padding: var(--section-padding);
  background-color: #f1f5f9;
}

.clients-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1rem;
  justify-content: center;
}

.client-card {
  background: #fff;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  transition: all 0.3s ease;
  border: 1px solid rgba(0, 0, 0, 0.05);
  height: 100%;
  min-height: 180px;
  overflow: hidden;
}

.client-logo-wrapper {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: #fff;
  border-radius: 0.5rem;
  flex-shrink: 0;
  overflow: hidden;
}

.makro-logo img {
  transform: scale(1.2) translateY(3px);
}

.client-card p {
  font-weight: 600;
  color: var(--text-main);
  font-size: 0.8rem;
  text-align: center;
  line-height: 1.2;
}

@media (max-width: 1024px) {
  .clients-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 768px) {
  .clients-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}